
.checkoutContainer{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
}

input{
    width: 50%;
}

.billInfo{
    margin: 10px 0px 0px 20px;
}

.paymentInfo{
    margin: 10px 0px 0px 0px;
}

.checkoutButton{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

@media screen and (min-width: 400px) {

    .checkoutContainer{
        align-content: center;
        justify-content: center;
    }

    .paymentInfo{
        background-color: #98F6FF;
        padding: 15px;
        border-radius: 0px 25px 25px 0px;
    }

    .billInfo{
        background-color: #98F6FF;
        border-radius: 25px 0px 0px 25px;
        padding: 15px;
    }
    
}