
.navContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: solid;
    align-items: center;
    border-radius: 25px;
    margin: 10px;
    

}

.link{
    margin-left: 10px;
}

.cartLink{
    margin-right: 10px;
}
