
.navContainer{
    display: flex;
    flex-direction: row;
    background-color: #98F6FF;
    align-items: center;
    border-radius: 25px;
    margin: 10px 0px 10px 0px;
    height: 50px;

}

.homepageLink{
    margin-left: 10px;
    text-decoration: none;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;

}

.homepageLink:hover{
    font-size: larger;
}

.homeLinkContiner{
    display:block;
    width: 10%;
    margin-left: 10%;
}

.cartLink{
    margin-right: 10px;
    margin-left: 10px;
}

.searchContainer{
    display: flex;
    flex-direction: column;
    overflow: visible;
    position: relative;
    background-color: #98F6FF;
    justify-content: center;
    align-content: center;

}
.resultsContainer{
    display: block;

}

.results{
    background-color: none;
    border-style: solid;
    border-radius: 5px;
    text-decoration: none;
}

.inputContainer{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0px;
}

.middleContainer{
    display: flex;
    margin-top: auto;
    margin-bottom: 10px;
    position: relative;
    
}