/*----- These styles are for Navbar -----*/
.navContainer{
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 20px 20px 20px 20px;
    border-style: solid;
    border-radius: 25px;
}

.navLinks{
    padding-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: solid;
    font-size: 20px;
    color: black;
    margin: .67em 0 .67em 0;
}

.navLinks:hover{
    color: red;
}


/*----- These styles are for DummyData -----*/

img{
    border-style: solid;
    border-radius: 5px;
    margin: 20px 30px 5px 30px;
}

.postImage{
    width: 50%;
}

.date{
    font-size: 15px;
}

p{
    margin: 0px;
    font-size: 25px;
}

.postContainer{
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
}

.post{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
}

.profileContainer{
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

h2{
    margin: 5px;
    font-size: 30px;
}

/*----- These Styles are for Comments -----*/

.commentContainer{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-style: solid;
    border-radius: 25px;
}

.commentImage{
    width: 20%;
    margin: 15px 15px 15px 15px;
}

.commentName{
    font-size: 20px;
}

.textPost{
    font-size: 30px;
}

.commentForm{
    margin: 15px;
}

@media screen and (max-width: 375px){
    .postImage{
        width: 85%;
    }
}